<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="./javascripts/jquery-1.11.3.js"></script>
 
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
    <% menu.forEach(function(val){ %>
    <li><a href="<%= val %>"><%= val %></a></li>
    <% }) %>
    </ul>

  </body>
</html>
